<link rel="stylesheet" href="/css/input.css">

<form action="/post/create" method="post">
    <input type="text" class="input-text" name="title" placeholder="title...">
    <textarea name="content" id="" class="input-content" cols="30" rows="10" placeholder="content..."></textarea>
    <button>Submit</button>
</form>