<h1><%= post.title %></h1>
<p><%= post.content %></p>

<form action="/post/delete/<%= post.post_id %>" method="post">
    <button>Delete</button>
    <a href="/post/update/<%= post.post_id %>">Update</a>
</form>